/* ---------------- MOBILE NAVIGATION ---------------------- */
header a.nav-btn-conteiner {
	color: #ffe89b;
	display: none;
	font-size: 21px;
	left: 20px;
	position: absolute;
	top: 0;
	vertical-align: top;
}

.sidr {
	-moz-box-shadow: inset 0 0 5px 5px #222;
	-webkit-box-shadow: inset 0 0 5px 5px #222;
	background :#333;
	box-shadow: inset 0 0 5px 5px #222;
	color: #fff;
	display: none;
	font-size: 15px;
	height: 100%;
	overflow-x: none;
	overflow-y: auto;
	position: absolute;
	position: fixed;
	top: 0;
	width: 260px;
	z-index: 999999;
}
.sidr .sidr-inner { padding: 0 0 15px; }
.sidr.left { left: -260px; right: auto; }
.sidr #btn-close {
	border-bottom: 1px solid #1a1a1a;
	border-top: 1px solid #4d4d4d;
	color: #ffe89b;
	display: block;
	height: 58px;
	line-height: 60px;
	padding: 0 15px;
	font-size: 24px;
	margin: 0;
}

.sidr nav { margin-left: 0px; width: 100%; }

.sidr ul {
	border-bottom: 1px solid #4d4d4d;
	display: block;
	margin: 0 0 15px;
	padding: 0;
	width: 100%;
}

.sidr ul li {
	border-bottom: 1px solid #1a1a1a;
	border-top: 1px solid #4d4d4d;
	display: block;
	height: 58px;
	line-height: 60px;
	margin: 0;
}

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active { line-height: 58px; }

.sidr ul li:hover>a, .sidr nav li:hover>span, .sidr nav li.active>a, .sidr nav li.active>span,
.sidr ul li.sidr-class-active>a, .sidr nav li.sidr-class-active>span {
	-webkit-box-shadow: inset 0 0 15px 3px #222;
	-moz-box-shadow: inset 0 0 15px 3px #222;
	box-shadow: inset 0 0 15px 3px #222;
}

.sidr ul li a {
	display: block;
	line-height: 60px;
	padding: 0 15px;
	text-decoration: none;
}
