/* ------- reset styles -------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: pointer; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input,select { vertical-align: middle; }

/* ---------------- PAGE DEFAULTS ------------------- */
html, body { height: 100%; width: 100%; }
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #ffffff;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 600;
	height: 100%;
	height: auto !important;
	min-height: 100%;
	overflow-y: scroll;
	position: relative;
}

/* ---------------- HEADER ---------------------- */
header {
	background: #25262d;
	height: 80px;
	width: 100%;
}

header .header-content {
	line-height: 80px;
	padding: 0 20px;
	width: auto;
}

.header-content div.logo {
	display: inline-block;
	float: left;
	font-family: 'Scada', sans-serif;
	font-size: 21px;
	vertical-align: top;
}

.header-content div.logo a {
	color: #ffe89b;
	text-decoration: none;
	text-transform: uppercase;
}

/* ---------------- NAVIGATION ---------------------- */
nav {
	display: inline-block;
	font-family: 'Scada', sans-serif;
	font-size: 0px;
	line-height: 80px;
	margin-left: 20px;
	vertical-align: top;
}

nav li {
	display: inline-block;
	font-size: 21px;
	font-weight: 400;
	height: 80px;
	margin-left: 20px;
	vertical-align: top;
	text-transform: uppercase;
}

nav li:first-child { margin-left: 0px; }

nav li a {
	color: #ffe89b;
	font-size: 21px;
	text-decoration: none;
}
nav li.current a, nav li a:hover { color: #fbcc34; }
nav li.current a { cursor: default; }

/* ---------------- USER BAR ---------------------- */
div.user-bar {
	display: inline-block;
	font-family: 'Scada', sans-serif;
	font-size: 21px;
	position: absolute;
	right: 20px;
	top: 0;
	vertical-align: top;
}

div.user-bar a {
	color: #ffe89b;
	font-size: 21px;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

/* ---------------- CONTENT ---------------------- */
div.content {
	padding-bottom: 54px;
}
div.content-cover {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0px auto;
	max-width: 1240px;
	padding: 50px 20px;
	position: relative;
}
div.content-cover h1 {
	font-family: 'Scada', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
div.content-wrapper {
	background: #ffffff;
	display: block;
}
div.show {
	color: #25262d;
	font-size: 0px;
	padding: 50px 40px;
}

/* ---------------- FOOTER ---------------------- */
footer {
	background: #3f404d;
	bottom: 0;
	color: #f2f2f2;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 54px;
	position: absolute;
	width: 100%;
}
footer .footer-content {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px 0;
	position: relative;
	width: 100%;
}
.footer-content .left { margin-left: 20px; }
.footer-content .right { position: absolute; right: 0; top: 20px; }
.footer-content .right a { color: #f2f2f2; text-decoration: none; }

/* ---------------- STATISTICS ---------------------- */
div.statistics { display: none; }