/* ---------------- HEADINGS ---------------------- */
div.content-cover h1 {
	font-family: 'Scada', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
div.content-wrapper time {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #fbcc34;
	color: #fbcc34;
	font-size: 11px;
	font-weight: 300;
	height: 19px;
	line-height: 19px;
	margin-top: 26px;
	padding: 0px 10px;
}
div.content-wrapper h1.post-heading {
	color: #cda349;
	font-family: 'Roboto', sans-serif;
	margin-top: 11px;
	text-transform: none;
}

/* ---------------- TEXT ---------------------- */
div.content-wrapper div.text {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: 6px;
}
div.content-wrapper div.text p { padding-top: 20px; }
div.content-wrapper div.text a { color: #25262d; }
div.content-wrapper div.text a:hover { text-decoration: none; }

div.content-wrapper div.text i { color: #cda349; padding-right: 7px; }