<header class="site-header">

	<div class="wrapper">
		<div class="header-content">
			<div class="logo">
				<a href="{{ site.baseurl }}/">FL</a>
			</div>
			<div class="user-bar">
				<a href="{{ site.lkurl }}/home" class="show-login-popup" rel="nofollow"><i class="fa fa-user"></i> Войти</a>
			</div>
			<nav>
				<ul>
					<li><a href="#" class="loan">О займах</a></li>
					<li><a href="#" class="about">О компании</a></li>
					<li><a href="#" class="stock">Акции</a></li>
					<li><a href="#" class="news">Новости</a></li>
					<li><a href="#" class="contacts">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>