<div id="sidr" style="display:none">
	<a href="#" id="btn-close"><i class="fa fa-times"></i></a>
	<nav>
		<ul>
			<li><a href="#">О займах</a></li>
			<li {% include functions/selected_area.html area="about" %}><a href="{{ site.baseurl }}/about/">О компании</a></li>
			<li {% include functions/selected_area.html area="offers" %}><a href="{{ site.baseurl }}/offers/">Акции</a></li>
			<li {% include functions/selected_area.html area="news" %}><a href="{{ site.baseurl }}/news/">Новости</a></li>
			<li {% include functions/selected_area.html area="faq" %}><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
			<li {% include functions/selected_area.html area="contacts" %}><a href="{{ site.baseurl }}/contacts/">Контакты</a></li>
		</ul>
	</nav>
</div>