@media only screen and (max-width: 830px) {
	header { text-align: center; }
	
	header div.logo { float: none; position: relative; }
	
	header nav {
		height: 0;
		left: 0;
		margin-left: 0px;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 60px;
	}
	header nav li { margin-left: 0px; width: 100%; }
}

@media only screen and (max-width: 480px) {
	.footer-content .right { position: static; margin-top: 10px; margin-left: 20px; }
}