div.credit-status-block {
	display: inline-block;
	margin-top: 24px;
	width: 100%;
}

div.current-credit-info {
	display: block;
	width: 878px;
}
div.current-credit-block {
	display: inline-block;
	font-size: 0px;
	margin-top: 19px;
	padding: 0 10px;
	vertical-align: top;
}

div.current-credit-block label { display: block; font-size: 14px; font-weight: 500; }
div.current-credit-block span { display: block; font-size: 24px; font-weight: 300; margin-top: 6px; }

div.credit-sum { width: 360px; }
div.to-pay { width: 518px; }
div.settled { margin-top: 34px; width: 100%; }
div.loan-balance { width: 216px; }
div.days-overdue { width: 145px; }
div.credit-penalty { width: 517px; }

div.credit-sum span, div.to-pay span { font-size: 36px; }
div.settled span { color: #00a651; }
div.loan-balance span { color: #ed1c24; }

div.credit-status-block-content { position: relative; }
div.credit-status-block-content div.pay-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}

div.credit-status-block-heading {
	border-bottom: 1px dashed #bfbfbf;
	font-weight: 400;
	font-size: 18px;
	margin-top: 24px;
	padding-bottom: 3px;
}
div.credit-status-block-heading span { color: #cda349; font-size: 14px; }
div.credit-status-block-heading span:hover { text-decoration: none; }

div.list-header, div.credit-info {
	font-size: 0px;
	font-weight: 400;
	margin: 0 auto;
	overflow: hidden;
	padding: 12px 5px 12px 0px;
	position: relative;
	white-space: nowrap;
}
div.credit-info { font-weight: 300; }

div.list-header>div, div.credit-info>div { display: inline-block; margin-left: 9px; text-align: left; }
div.list-header>div { font-size: 14px; }
div.credit-info>div { font-size: 24px; }

div.loan-number { width: 167px; }
div.date-of-issue { width: 244px; }
div.return-date { width: 261px; }
div.bonus-points { width: 181px; }

div.credit-info div.bonus-points { color: #00a651; }
div.credit-info div.bonus-points span { font-weight: 500; }
div.more a { color: #cda349; font-size: 14px; }
div.more a:hover { text-decoration: none; }


div.get-credit-block div.promo-slider, div.get-credit-block div.credit-calculation {
	display: inline-block;
	vertical-align: top;
}

div.get-credit-block div.promo-slider {
	margin: 68px 0px 0px 0px;
	max-width: 60%;
	padding: 0px 38px 0px 12px;
}

div.get-credit-block div.promo-slider div.amount div.labels label,
div.get-credit-block div.promo-slider div.time div.labels label {
	color: #999999;
	font-size: 18px;
}

div.get-credit-block div.promo-slider div.amount div.labels label:last-child,
div.get-credit-block div.promo-slider div.time div.labels label:last-child {
	float: right;
}

div.get-credit-block div.promo-slider div.input-value, div.get-credit-block div.promo-slider div.input-value label {
	color: #2e2f38;
	font-size: 18px;
	font-weight: 300;
	margin-top: 14px;
}

div.get-credit-block div.promo-slider div.input-value input {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #f8f8f9;
	border-radius: 7px;
	border: 0px;
	color: #7895a4;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	margin: 0px 10px;
	outline-width: 0px;
	padding: 0px 15px;
	text-align: center;
	width: 110px;
}
div.get-credit-block div.promo-slider div.input-value input#input-time { width: 58px; }


div.credit-calculation {
	border-left: 1px solid #999999;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	margin-top: 30px;
	max-width: 40%;
	padding: 5px 0px 18px 40px;
}

div.credit-calculation div.calculation-fields:first-child { border-bottom: 1px solid #cccccc; }

div.credit-calculation div.calculation-fields {
	padding: 13px 12px;
}

div.credit-calculation div.calculation-fields label {
	display: inline-block;
	width: 153px;
}
div.credit-calculation div.calculation-fields label.interest-rate { width: 100%; }
div.credit-calculation span {
	font-size: 36px;
	font-weight: 500;
}

div.credit-calculation span.interest-rate { display: inline-block; font-size: 20px; font-weight: 400; margin-top: 5px; }

div.credit-calculation div.get-credit-btn {
	margin-top: 45px;
	text-align: center;
	width: 100%;
}

div.credit-transfer-block { margin-top: 30px; }

div.credit-transfer-block div.credit-transfer-options {
	border-right: 1px solid #CFD8DC;
	display: inline-block;
	padding-right: 29px;
	vertical-align: top;
	max-width: 390px;
	width: 34.821429%;
}

div.credit-transfer-block div.credit-transfer-options div.credit-transfer-option {
	margin-bottom: 29px;
	max-width: 361px;
	width: 100%;
}

div.credit-transfer-block div.credit-transfer-options input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

div.credit-transfer-block div.credit-transfer-options label {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 100%;
	max-width: 361px;
	text-align: center;
	width: 100%;
}

div.credit-transfer-block div.credit-transfer-options label > input {
	position: absolute;
	visibility: hidden;
}

div.credit-transfer-block div.credit-transfer-options label > input + img {
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #CFD8DC;
	box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	max-width: 100%;
	padding: 50px 28.969359%;
	vertical-align: middle;
}

div.credit-transfer-block div.credit-transfer-options label > input:checked + img,
div.credit-transfer-block div.credit-transfer-options label > input + img:hover {
	border: 1px solid #FAE089;
}


div.credit-transfer-block div.credit-transfer-option-block {
	display: inline-block;
	padding-left: 30px;
	vertical-align: top;
	max-width: 730px;
	width: 65.178571%;
}

div.credit-transfer-block div.credit-transfer-option-block h2 {
	border-bottom: 1px solid #CFD8DC;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 14px;
	text-transform: uppercase;
}

div.credit-transfer-block div#yandex-wallet, div.credit-transfer-block div#billing-account { display: none; }

div.credit-transfer-block div.credit-transfer-option-block div.field { margin-top: 14px; }
div.credit-transfer-block div.credit-transfer-option-block div.field input,
div.credit-transfer-block div.credit-transfer-option-block div.field textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #f8f8f9;
	border-radius: 10px;
	border: 0px;
	box-sizing: border-box;
	color: #7895a4;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	line-height: 50px;
	outline-style: none;
	padding: 0 20px;
}
div.credit-transfer-block div.credit-transfer-option-block div.field label {
	display: inline-block;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 18px;
}
div.credit-transfer-block div.credit-transfer-option-block div.mobile-nmbr input { width: 169px; }
div.credit-transfer-block div.credit-transfer-option-block div.get-credit-btn { margin-top: 30px; text-align: center; }

/*---- credit-cards ----*/
div.credit-transfer-block div.credit-transfer-option-block div.selectField { margin-top: 0px; max-width: 340px; }
div.credit-transfer-block div.credit-transfer-option-block div.selectField div.chosen-container {
	margin-left: 0px;
	width: 100% !important;
}

div.credit-transfer-block div.credit-transfer-option-block div.attached-cards { margin-top: 20px; width: 100%; }
div.credit-transfer-option-block div.attached-cards div.card-option {
	color: #25262d;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	margin-left: 30px;
	max-width: 340px;
	vertical-align: top;
}
div.credit-transfer-option-block div.attached-cards div.card-option:first-child { margin-left: 0px; }

div.credit-transfer-option-block div.attached-cards div.card-option div.credit-card-img label { cursor: pointer; }
div.credit-transfer-option-block div.attached-cards div.card-option div.credit-card-img input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
div.credit-transfer-option-block div.attached-cards div.card-option div.credit-card-img label input:checked {
	border: 1px solid #FAE089;
}

div.credit-transfer-option-block div.attached-cards div.card-option div.credit-card-type { margin-top: 7px; }
div.credit-transfer-option-block div.attached-cards div.card-option div.credit-card-nmbr { margin-top: 7px; }


div.credit-transfer-option-block div.attached-cards div.card-option {
	height: 50px;
	line-height: 50px;
}
div.credit-transfer-option-block div.attached-cards div.card-option div.new-credit-card-btn-name {
	color: #CDA349;
	display: inline-block;
	line-height: 19px;
	text-transform: uppercase;
}
div.credit-transfer-option-block div.attached-cards div.card-option div.new-credit-card-btn-name:hover {
	cursor: pointer;
}

div.credit-transfer-block div.credit-transfer-option-block div.add-new-credit-card {
	display: none;
	margin-top: 35px;
}
div.credit-transfer-block div.credit-transfer-option-block div.add-new-credit-card div.new-credit-card-cover {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #CFD8DC;
	box-sizing: border-box;
	margin: 20px auto;
	max-width: 360px;
	padding: 28px 44px 44px;
}
div.credit-transfer-block div.credit-transfer-option-block
div.add-new-credit-card div.new-credit-card-cover input {
	width: 100%;
}
div.credit-transfer-block div.credit-transfer-option-block div.add-new-credit-card
div.new-credit-card-cover div.valid-to { width: 159px; }
div.credit-transfer-block div.credit-transfer-option-block div.add-new-credit-card
div.new-credit-card-cover div.cvv-code {
	margin-left: 12px;
	width: 99px;
}
div.credit-transfer-block div.credit-transfer-option-block div.add-new-credit-card
div.new-credit-card-cover div.add-credit-card-btn {
	margin-top: 18px;
	text-align: center;
}
div.new-credit-card-cover div.add-credit-card-btn a.cancel-btn {
	color: #CDA349;
	display: block;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
div.new-credit-card-cover div.add-credit-card-btn a.cancel-btn:hover { text-decoration: none; }

/*---- billing-account ----*/
div.credit-transfer-block div.credit-transfer-option-block div.field {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
div.credit-transfer-block div#billing-account div.field input { width: 100%; }

div.credit-transfer-block div.credit-transfer-option-block div.bank-name { max-width: 300px; }

div.credit-transfer-block div.credit-transfer-option-block div.bank-city {
	max-width: 180px;
	margin-left: 20px;
}
div.credit-transfer-block div.credit-transfer-option-block div.bik-bank {
	max-width: 180px;
	margin-left: 20px;
}
div.credit-transfer-block div.credit-transfer-option-block div.correspondent-account,
div.credit-transfer-block div.credit-transfer-option-block div.account-number {
	max-width: 340px;
}
div.credit-transfer-block div.credit-transfer-option-block div.account-number { margin-left: 20px; }

div.credit-transfer-block div.credit-transfer-option-block div.purpose-of-payment { max-width: 700px; }
div.credit-transfer-block div.credit-transfer-option-block div.purpose-of-payment textarea {
	resize: none;
	width: 100%;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block label {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: 26px;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.field { max-width: 220px; }

div.credit-transfer-block div.credit-transfer-option-block div.field-block div.name,
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.patronymic {
	margin-left: 20px;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.address { max-width: 700px; }

div.credit-transfer-block div.credit-transfer-option-block div.field-block div.passport-nmbr,
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.passport-date,
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.mobile-nmbr {
	max-width: 100%;
	width: 100%;
}

div.credit-transfer-block div.credit-transfer-option-block div.field-block div.field label,
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.field input {
	display: inline-block;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.passport-nmbr input {
	max-width: 140px;
	width: 100%;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.passport-date input {
	max-width: 110px;
	width: 100%;
}
div.credit-transfer-block div.credit-transfer-option-block div.field-block div.mobile-nmbr input {
	max-width: 160px;
	width: 100%;
}

div.credit-transfer-block div.credit-transfer-option-block div.checkboxField { margin-top: 26px; }
div.credit-transfer-block div.credit-transfer-option-block div.checkboxField input {
	margin: 0px 15px 0px 0px;
	vertical-align: bottom;
}
div.credit-transfer-block div.credit-transfer-option-block div.checkboxField label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

/*---- yandex-wallet ----*/
div.credit-transfer-block div#yandex-wallet h2:first-letter { color: red; }
div.credit-transfer-block div.credit-transfer-option-block div.yandex-wallet-nmbr input {
	width: 360px;
}
