div.content-wrapper article {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	margin: 27px 0px 0px 0px;
	vertical-align: top;
	width: 100%;
}

div.content-wrapper article h2 {
	color: #cda349;
	font-size: 24px;
	font-weight: 400;
	margin-top: 10px;
}
div.content-wrapper article h2 a { color: #cda349; text-decoration: none; }
div.content-wrapper article div.post-description {
	font-size: 12px;
	font-weight: 300;
	margin-top: 17px;
}

div.pagination {
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
}
div.pagination span { color: #6c301e; }
div.pagination a { color: #cda349; text-decoration: none; }

/*---------------- GET CREDIT PAGE ------------------*/
div.offers-block { margin-top: 24px; }
div.offers-block h2 {
	border-bottom: 1px dashed #bfbfbf;
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 3px;
}

div.offers-block div.offers-articles article {
	border: 1px solid #e6e6e6;
	float: left;
	display: block;
	margin-left: 2%;
	position: relative;
	padding: 20px;
	width: 32%;
}
div.offers-block div.offers-articles article:first-child { margin-left: 0px; }

div.offers-block article h2 { border-bottom: 0px; padding-bottom: 0px; }
div.offers-block div.more-offers-btn { margin-top: 50px; text-align: center; width: 100%; }