div.content-wrapper article {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	margin: 27px 0px 0px 0px;
	vertical-align: top;
	width: 100%;
}

div.content-wrapper article h2 {
	color: #cda349;
	font-size: 24px;
	font-weight: 400;
	margin-top: 10px;
}
div.content-wrapper article h2 a { color: #cda349; text-decoration: none; }
div.content-wrapper article div.post-description {
	font-size: 12px;
	font-weight: 300;
	margin-top: 17px;
}

div.pagination {
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
}
div.pagination span { color: #6c301e; }
div.pagination a { color: #cda349; text-decoration: none; }
