body.page-content {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	background-image: url('../../images/pages/pages-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.page div.text div.faq-text h2 { margin-top: 39px; }
div.page div.text div.faq-text p { padding-top: 9px; }
